<%# locals: (artist:, tracks:, limit:, tracks_amount:) -%>
<%= turbo_frame_tag dom_id(artist, :popular_tracks), target: "_top" do %>
  <ul class="tracks mt-2">
    <%= render tracks, enqueueble: true %>

    <% if tracks_amount > limit %>
      <li class="track">
        <span class="track--number"></span>
        <%= link_to 'Load More', artist_path(artist, limit:), data: {"turbo-frame" => "_self"}, class: "text-secondary hover:text-primary transition-colors" %>
      </li>
    </ul>
  <% end %>
<% end %>
