<%# locals: (artist:, tracks:, page:, offset:, total_pages:) -%>
<div class="artist-header">
  <div class="artist-image">
    <% if artist.cover.attached? %>
      <%= image_tag artist.cover %>
    <% end %>
  </div>
  <div class="artist-info">
    <div class="flex items-center">
      <h1 class="text-header-2"><%= artist.name %></h1>
    </div>
    <div>
      <% artist.tags.each do |tag| %>
        <span class="meta"><%= tag %></span>
      <% end %>
    </div>
  </div>
</div>

<hr class="my-4">

<div class="flex">
  <h2 class="mt-4 text-header-2 mr-auto">Tracks</h2>
</div>

<ul class="tracks mt-2">
  <%= render partial: "track_list", locals: {artist:, tracks:, page:, total_pages:, offset:} %>
</ul>
